<h1> <font color=red> Engenharia Mecatrônica - Ciência dos dados </font> </h1>

<h2> Projeto 1 - Turma 2B </h2>

<h3> Professor: Me. Fábio Roberto de Miranda </h3>

<h3> Aluno: Marcos Vinícius da Silva </h3>

<h3> <font color=grey> Pergunta: Como a China e os países ao seu redor se comportaram economicamente diante de sua inserção na OMC em 2001.</font>  </h3>

<h3> Sumário: </h3>
<ol>
   <li> Introdução </li>
   <li>Criando DataFrame de Estudo </li>
   <ul>
       <li>2.1 Importando as bibliotecas necessárias análise </li>
       <li>2.2 Lendo arquivos xlsx </li>
       <li>2.3 Filtrando dados de acordo com o ano inicial escolhido para análise (2002) </li>
       <li>2.4 Convertendo Índice </li>
       <li>2.5 Remoção dos países sem dados para análise </li>
       <li>2.6 Juntando os dados em apenas um DataFrame </li>
       <li>2.7 Ordenando DataFrame com base no PIB </li>
   </ul>
   <p></p>
   <li>Análises </li>
   <li>Conclusão </li>
   <li>Referências </li>
   <li>Base de Dados </li>
</ol>

## 1. Introdução

<p>
A OMC (Organização Mundial do Comércio) é uma instituição internacional que atua na fiscalização e regulamentação do comércio mundial. Com sede em Genebra (Suíça) foi fundada em 1994, durante a Conferência de Marrakech. Fazem parte da OMC 164 países membros (desde julho de 2016). Além disso, a OMC cobre mais de 90% do comércio internacional.
</p>

<p>
Em 11 de Dezembro de 2001, a China tornou-se o 143º membro da OMC. Na época especialistas diziam que a adesão da China à OMC poderia vir a ser tão importante para o século XXI como a revolução comunista foi para o século XX. Anthony Saich, professor convidado na Escola de Políticas Públicas e Gestão da Universidade de Tsinghua, na China, afirmava na época: "Esta adesão vai permitir à China a plena inserção na economia mundial e a aceitação dos princípios de mercado, trazendo consigo modificações extremamente positivas, não só na China, como nas economias que com ela se relacionam".
</p>

<p>
O seguinte projeto tem como objetivo analisar dados e incorporar pesquisas históricas a resultados de relatórios econômicos para verificar se estas previsões abordadas foram coerentes. Além disso, almejo compreender como a China e os países ao seu redor se comportaram diante desta inserção, como isso refletiu nas importações, exportações e no PIB desses países nos anos seguintes.
</p>

## 2. Construindo DataFrame de Estudo

#### 2.1 Importando as bibliotecas necessárias para essa análise:

In [2]:
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt
from math import *
%matplotlib inline

#### 2.2 Lendo arquivos xlsx:

In [3]:



pib = pd.read_excel('PIB.xlsx')
imp = pd.read_excel('Importação.xlsx')
exp = pd.read_excel('Exportação.xlsx')

#### 2.3 Filtrando dados de acordo com o ano inicial escolhido para análise (2002):

Obs: Como a inserção ocorreu em Dezembro de 2001, decidi começar a análise no ano seguinte, 2002.

In [17]:
pib_2002 = pib.loc[:, ["PIB", '2002']]
imp_2002 = imp.loc[:, ["Importação", '2002']]
exp_2002 = exp.loc[:, ["Exportação", '2002']]
pib_2002.head()

                     PIB         2002
0               Abkhazia          NaN
1            Afghanistan          NaN
2  Akrotiri and Dhekelia          NaN
3                Albania  1313.722725
4                Algeria  1871.921986

#### 2.4 Convertendo de Índice:

In [18]:
pib_index = pib_2002.set_index('PIB')
imp_index = imp_2002.set_index('Importação')
exp_index = exp_2002.set_index('Exportação')
pib_index.head()

                              2002
PIB
Abkhazia                       NaN
Afghanistan                    NaN
Akrotiri and Dhekelia          NaN
Albania                1313.722725
Algeria                1871.921986

#### 2.5 Remoção dos países sem dados para análise:

In [7]:
pib_nan = pib_index.dropna()
imp_nan = imp_index.dropna()
exp_nan = exp_index.dropna()

blablabla

In [8]:
asia = ['Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 
        'Cyprus', 'Georgia', 'India', 'Indonesia', 'Iran', 'Israel',
        'Japan', 'Jordan', 'Kuwait', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Nepal','Oman', 'Pakistan', 'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'Sri Lanka',
        'Syria', 'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam']

blablabla

In [9]:
pib_nan.loc[:,"Asia"] = "não"
imp_nan.loc[:,"Asia"] = "não"
exp_nan.loc[:,"Asia"] = "não"

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\User\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

blabla

In [10]:
pib_nan.loc[asia, "Asia"] = "sim"
imp_nan.loc[asia, "Asia"] = "sim"
exp_nan.loc[asia, "Asia"] = "sim"

In [11]:
pib_nan.Asia.value_counts()

não    157
sim     38
Name: Asia, dtype: int64

In [12]:
imp_nan.Asia.value_counts()

não    144
sim     38
Name: Asia, dtype: int64

In [13]:
exp_nan.Asia.value_counts()

não    146
sim     38
Name: Asia, dtype: int64

#### 2.6 Juntando os dados em apenas um DataFrame:

In [14]:
pib_fert = pib_nan.join(imp_nan, how="inner", lsuffix="_PIB", rsuffix="_Importação")
everything = pib_fert.join(exp_nan, how="inner")
everything.columns = ['2002_PIB', '2002_Importação', '2002_Exportação']

ValueError: Length mismatch: Expected axis has 6 elements, new values have 3 elements

#### 2.7 Ordenando com base no PIB:

In [ ]:
everything.sort_values('2002_PIB', inplace = True)

everything.head()

In [ ]:
everything.loc[:, "2002_Importação"].plot.box()
plt.grid()

In [ ]:
everything.loc[:, "2002_Exportação"].plot.box()
plt.grid()

In [ ]:
everything.loc[:, "2002_PIB"].plot.box()
plt.grid()

## 3. Análises

## 4. Conclusão

Até o momento obtive êxito na obtenção de dados, os anos escolhidos resultaram em uma boa quantidade de países revelevantes para a análise. Além disso, consegui utilizar as ferramentas ensinadas em sala de aula. 
Próximo passo: Análisar dados de 2002 à 2005 para verificar as previsões.

## 5. Referências

<ul>
    <li> https://www.wto.org/english/news_e/archive_e/country_arc_e.htm?country1=CHN </li>
    <li> https://www.publico.pt/2001/09/17/economia/noticia/china-assina-acordo-de-entrada-na-omc-40515 </li>
    <li> https://www.bbc.com/portuguese/noticias/2001/011211_chinamv.shtml </li>
    <li> https://www.univali.br/Lists/TrabalhosGraduacao/Attachments/3266/F%C3%81BIO%20RODRIGO%20MAIA.pdf </li>
    <li> http://sinus.org.br/2014/wp-content/uploads/2013/11/OMC-Guia-Online.pdf </li>
    <li> https://www.independent.co.uk/topic/wto </li>
</ul>

## 6. Base de Dados

<ol> 
 <li>Variável de interesse: PIB </li>
  <ul>
      <li> https://docs.google.com/spreadsheets/d/1RctTQmKB0hzbm1E8rGcufYdMshRdhmYdeL29nXqmvsc/pub </li>
  </ul>   
  <p></p>
  
  <li>Variável de interesse: IMPORTAÇÃO </li>
  <ul>
      <li> https://docs.google.com/spreadsheets/d/1k_t9OR33LRYs5fT2jJXSl63SXw_ji--8hbRCVyu-cmY/pub </li>
  </ul>  
  <p></p>
  
  <li>Váriável de interesse: EXPORTAÇÃO </li>
  <ul>
      <li> https://docs.google.com/spreadsheets/d/11DwvLZmVN7dm6Aslx1O2BGwe75XY10Ve7-gFN4iCIZk/pub </li>
  </ul>
</ol>